.leaderBoard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  transition: all ease 0.3s;
  animation-name: change;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


@keyframes change {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


.leaderBoard__stats {
  width: 100%;
}

.leaderBoard__stats__mobile{
  width: 120%;
}

.leaderBoard__stats_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.leaderBoard__stats_title {
  width: 80%;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
}

.leaderBoard__stats_title>h1 {
  color: #000;
  font-size: 1.2rem;
  font-family: Furore;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.leaderBoard__stats_contentWrap {
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 75vh;
  max-height: 75vh;
}

.leaderBoard__stats_content {
  overflow-y: auto;
}

.leaderBoard__stats_content_item {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 0.35);
  animation-name: change;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

}

.leaderBoard__stats_content_item>h1 {
  color: #000;
  font-size: 2rem;
  font-family: Furore;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

@media (max-width: 768px) {
  .leaderBoard__stats_content_item>h1,.leaderBoard__stats_title>h1 {
    font-size: 1.2rem;
  }


}